<div class="panel panel-default">
   <div class="panel-heading centered">Password change</div>
   <div class="panel-body">
      <form class="form-horizontal" ng-submit="changePwd()">
         <div class="form-group">
            <label class="control-label col-sm-2" for="oldPassword">Old</label>
            <div class="col-sm-10">
               <input required type="password" class="form-control" id="oldPassword" ng-model="passwords.oldPassword" placeholder="Enter your old password">
            </div>
         </div>
         <div class="form-group">
            <label class="control-label col-sm-2" for="newPassword">New:</label>
            <div class="col-sm-10">
               <input required type="password" class="form-control" id="newPassword" ng-model="passwords.newPassword" placeholder="Enter your new password">
            </div>
         </div>
         <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
               <button type="submit" class="btn btn-default">Submit</button>
            </div>
         </div>
      </form>
   </div>
</div>
