<div class="col-md-6 col-md-offset-3">
    <h2>Login</h2>
    <form name="form" ng-submit="loginLocally()" role="form">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="email" id="email" class="form-control" ng-model="user.email" required />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control" ng-model="user.password" required />
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-info customLoginBtnStyle">Login</button>
            <a href="#/register" class="btn btn-default pull-right customLoginBtnStyle">Register</a>
        </div>
    </form>
    <div class="row">
        <div class="col-md-12">
            <button ng-click="googleLogin()" class="loginBtn loginBtn--google">
            Login with Google &nbsp;&nbsp;&nbsp;
          </button>
        </div>
    </div>

</div>
