<div class="container" ng-init="init()">

    <!--Image Upload -->
    <div flow-init="{singleFile:true, testChunks:false, maxChunkRetries: 1, chunkSize: 55454646}"
		     flow-name="uploader.flow"
				 flow-files-submitted="$flow.upload()"
         flow-name="flow" flow-upload-started="uploadStart($flow)"
         flow-file-error="errorUploadingEvent($file, $message, $flow)"
				 flow-file-success="uploadSuccessEvent($file, $message, $flow)">
        <button class="btn btn-info btn-block upload-btn" flow-btn>Upload</button>
    </div>
    <!--Image Upload -->

    <h2 ng-if="pictures.length == 0" class="centered">Looks like you have no images! Upload one now. :)</h2>
    <div ng-repeat="picture in pictures">
        <picture></picture>
    </div>
</div>
