<div class="col-md-6 col-md-offset-3">
    <h2>Register</h2>
    <form name="form" role="form">
        <div class="form-group">
            <label for="username">Email</label>
            <input type="email" name="email" id="email" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" class="form-control" ng-model="user.email" required />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control" ng-model="user.password" required />
        </div>
        <div class="form-group" ng-class="checkPasswordMatches()">
            <label for="password"> Repeat Password {{passwordsMatch ? '(correct)' : '(not matching or empty)'}}</label>
            <input type="password" name="rPassword" id="password" class="form-control" ng-model="matchingPassword" required />
        </div>
        <div class="form-actions">
            <button ng-click="registerLocally()" style="width:100%" class="btn btn-info customLoginBtnStyle">Register</button>
        </div>
    </form>
</div>
