<div class="picture col-lg-3 col-md-4 col-xs-6 thumb">
    <a class="thumbnail" href="images/{{picture.filePath}}" target="_blank">
        <img class="img-responsive picture" ng-src="images/{{picture.filePath}}" alt="picture">
    </a>
</div>
