<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>PictureGallery</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" type="image/png" href="fav.ico" />
    <link rel="stylesheet" href="style/bootstrap.min.css"/>
    <link rel="stylesheet" href="style/fonts/font-awesome-4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="style/toaster.css"/>
    <link rel="stylesheet" href="style/custom.css"/>
</head>

<body ng-app="app" class="container" ng-controller="IndexCtrl as index" ng-init="init()">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/#/"><i class="fa fa-picture-o" aria-hidden="true"></i>  Gallery</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li ng-show="exchangeService.loggedUser && !exchangeService.loggedUser.hasLocalAccount">
                       <a ng-click="addPassword()">
                         <span class="fa fa-key"></span>
                         Want be able to login locally? Add a password!
                       </a>
                     </li>
                     <li ng-show="exchangeService.loggedUser && exchangeService.loggedUser.hasLocalAccount">
                        <a ng-click="resetPassword()">
                          <span class="fa fa-key"></span>
                          Reset password
                        </a>
                      </li>
                    <!-- <li><a ng-click="removePassword()"><span class="fa fa-child">Remove password</a></li> -->
                    <!-- <li><a href="#">Disable local account (open a modal to accept/decline)</a></li> -->
                    <!-- <li><a href="#"><span class="fa fa-user"></span> Sign Up</a></li> -->
                    <!-- <li><a href="#/login" ng-show="!exchangeService.loggedUser"><span class="fa fa-sign-in"></span> Login</a></li> -->
                    <li><a ng-click="logout()" ng-show="exchangeService.loggedUser"><span class="fa fa-sign-out"></span> Logout</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Main -->
    <div class="container">
        <toaster-container toaster-options="{'animation-class': 'toast-top-left'}"></toaster-container>
        <div class="row">
            <div class="col-md-12">
                <div ng-view="">
                    <!-- Angular views go here -->
                </div>
            </div>
        </div>
    </div>

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; PictureGallery 2017</p>
            </div>
        </div>
    </footer>
    <!-- Libraries -->
    <script src="https://apis.google.com/js/client.js?onload=init" async defer></script>
    <script src="component/jquery/dist/jquery.min.js"></script>
    <script src="component/angular/angular.js"></script>
    <script src="component/angular-resource/angular-resource.min.js"></script>
    <script src="component/angular-route/angular-route.min.js"></script>
    <script src="component/lodash/lodash.min.js"></script>
    <script src="component/restangular/dist/restangular.min.js"></script>
    <script src="component/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="component/angular-lodash-module/angular-lodash-module.js"></script>
    <script src="component/bootstrap/tether.min.js"></script>
    <script src="component/bootstrap/bootstrap.min.js"></script>
    <script src="component/ng-flow/ng-flow-standalone.min.js"></script>
    <script src="component/toaster/toaster.js"></script>
    <script src="component/angular-animate/angular-animate.min.js"></script>
    <script src="component/ng-storage/ngStorage.min.js"></script>

    <!-- <script src="https://apis.google.com/js/client.js?onload=init"></script> -->

    <script src="app.js"></script>

    <!-- Services -->
    <script src="service/exchangeService.js"></script>
    <script src="service/userService.js"></script>
    <script src="service/pictureService.js"></script>


    </script>

    <!-- Controllers -->
    <script src="controller/main.js"></script>
    <script src="controller/login.js"></script>
    <script src="controller/register.js"></script>
    <script src="controller/modal/upload.js"></script>
    <script src="controller/index.js"></script>


    <!-- Directives -->
    <script src="view/directive/picture/picture.js"></script>

    <!-- Modals -->
    <!-- <script src="view/modal/passwordchange.html"></script> -->
</html>
